  .photo{
    position: relative;
    scale: 80%;
    top: -50px;
    left: -140px;
}
.box-1{

    position: absolute;
    background-color: maroon;
    top:0px;
    left:430px;
    height: 6%;
    width: 75%;
    }
    
    .box-2{

        position: absolute;
        background-color: maroon;
        top: 90px;
        left:430px;
        height: 6%;
        width: 75%;
        }
    
        .box-3{

            position: absolute;
            background-color: maroon;
            top: 180px;
            left: 430px;
            height: 6%;
            width: 75%;
            }

            .box-4{

                position: absolute;
                background-color: maroon;
                top: 270px;
                left:430px;
                height: 6%;
                width: 75%;
                }

                .box-5{

                    position: absolute;
                    background-color: navy;
                    top:0px;
                    left:0px;
                    height: 39%;
                    width: 30%;
                }

                .box-6{

                    position: absolute;
                    background-color: maroon;
                    top: 360px;
                    left:0px;
                    height: 6%;
                    width: 100%;
                }

                .box-7{

                    position: absolute;
                    background-color: maroon;
                    top: 450px;
                    left:0px;
                    height: 6%;
                    width: 100%;
                }

                .box-8{

                    position: absolute;
                    background-color: maroon;
                    top: 540px;
                    left:0px;
                    height: 6%;
                    width: 100%;
                }


               


              